.env
__pycache__
*.pyc
*.db
venv/
.vscode/
frontend/data/
*.db
.last_deploy
images.tar.gz
backups/
backend/packages/
backend/data/
deploy.sh
backup.sh
init.sh
dockerize.sh
prepare.sh
server_setup.sh
upload.sh